:root {
    --background: rgb(16, 15, 15);
    --text-normal: #FFFCF0;
    --text-dark:  #E6E4D9;
    --text-secondary: #D14D41;
}

@font-face {
    font-family: Cascadia;
    src: url('Assets/Font/CaskaydiaMonoNerdFontMono-Regular.ttf');
  }

* {
    font-family: Cascadia;
}

body {
    position: relative;
    font-family: sans-serif;
    color: var(--text-normal);
    background-color: var(--background);
}

#clock{
    margin-top: 100px;
    text-align: center;
    box-sizing:border-box;
    font-size: 40px;
}

#welcome-text{
    margin-top: 100px;
    margin-left: 160px;
    font-size: 32px;
}
#quick-links{

    margin-left: 125px;
    margin-top: -15px;
    font-size: 16px;
}

#search{
    margin-left: 160px;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#quick_links_text{
    font-size: 24px;
    margin-left: 160px;
    color: var(--text-secondary);
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-normal);
}

input {
    transition: border 0.15s ease-in-out;
    border: 3px solid #948979;
    caret-shape:bar;
    background-color: var(--background);
    color: var(--text-normal);    
    box-sizing: border-box;
    width: 45%;
    padding: 6px 10px;
    font-size: 20px;
}
input:focus{
    outline: none;
    border: 3px solid var(--text-dark);
}
.link{
    transition: font-size 0.15s ease-in-out;
}

.link:hover{
    color: var(--text-secondary);
    font-size: 20px;
}